@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #a38d6d;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    padding: 2em 0;
    text-shadow: 1px 1px 2px #000000;
}

.fa-spinner {
    animation-name: rotate;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.app {
    background: #111111;
    border: 1px solid #444444;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 1.5em;
    width: 960px;
}

.app h1 {
    margin-top: 0;
}

.app button {
    background: #333333;
    border: none;
    border-top: 2px solid #666666;
    box-shadow: 0px 1px 4px #000000;
    color: #ffffff;
    font-size: 1.25em;
    margin-left: 0.75em;
    padding: 0.5em;
}

.clear {
    float: right;
    margin-right: 1.75em;
}

.result {
    display: inline-block;
    font-size: 1.25em;
    padding: 0.5em 0.75em;
}

.result strong {
    font-weight: 800;
}

.inputs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inputs li {
    display: inline-block;
    line-height: 45px;
    margin: 1em;
    width: 10em;
}

.inputs li h5 {
    line-height: 1.25em;
    margin: 0 0 0.5em 0;
}

.thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 45px;
    width: 45px;
}

.inputs li input {
    background: #000000;
    border: 1px solid #444444;
    color: #beb698;
    display: inline-block;
    height: 1.75em;
    margin-left: 1em;
    padding: 0 0.25em;
    width: calc(100% - 1em - 45px);
}